*{
    margin: auto;
}
body{
    font-size: 18px;
    font-family: Comic Sans MS, Comic Sans, cursive;
    max-width: 1400px;
}
.about{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    margin-left: 50px;
    margin-top: 20px;

}
.hobby{
    border-radius: 5px;
    background-color: rgb(229, 242, 252);
    margin-bottom: 7px;
    padding: 12px;
}
.hobby ul li:nth-child(2){
    background-color: rgb(247, 251, 255);
    max-width: 170px;
    margin-left: 13px;
}
.work{
    border-radius: 5px;
    background-color: rgb(229, 242, 252);
    margin-bottom: 7px;
    padding: 12px;
}
.phone{
    border: 0;
    border-radius: 5px;
    background-color: rgb(229, 242, 252);
    padding: 12px;
    height: auto;
}
.photo{
    border-radius: 9px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
    width: 200px;
    margin-top: 20px;
}
.container{
    width: 800px;
}
.soc{
    margin-bottom: 10px;
}
a{
    cursor: pointer;
    background-color: rgb(212, 233, 250);
    color: purple;
    border-radius: 3px;
}
.btn{
    background-color: rgb(62, 78, 94);
    color: rgb(217, 234, 248);
    border: 0px;
    cursor: pointer;
    font-size: 14px;
    padding: 7px;
    border-radius: 3px;
    height: 30px;
}
.btn:hover{
    font-size: 105%;
}
.btn:active{
    background-color: rgb(39, 55, 71) ;
}
.btn:visited{
    background-color: rgb(31, 47, 63) ;
}
.work table{
    margin-left: 12px;
}
.work table thead th{
    padding: 10px;
}
.work table tbody td:hover{
    background-color: rgb(247, 251, 255);
}
.work table thead th:hover{
    background-color: rgb(247, 251, 255);
}
input{
    border: 0;
    height: 20px;
    border-bottom: 2px solid rgb(125, 175, 192);
}
textarea{
    border: 0;
    height: 70px;
    border-bottom: 2px solid rgb(125, 175, 192);
}
.blockinf{
    display: flex;
    margin-left: 40px;
    width: 700px;
    padding-bottom: 20px;
}
.upper{
    display: flex;
    margin-right: 70%;
}
.messg{
    margin-left: 15px;
}
@media (max-width: 650px) {
    .blockinf{
        display: block;
        text-align: center;
        margin-left: 0;
    }
    .phone{
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
    .phh{
        margin-right: 10px;
    }
    .photo{
        margin-right: 15%;
    }
    .about{
        margin-right: 20%;
    }
}